PUERTO=3000
MONGODB_URI=mongodb+srv://USER_NAME:<PASSWORD>@cluster1.bpbxxjl.mongodb.net/todolist?retryWrites=true&w=majority&appName=Cluster1
JWT_SECRET=clave_secreta_todolist_version_4
JWT_EXPIRES_IN=1h