# Dependencias
node_modules/
frontend/node_modules/

# Variables de entorno
.env
frontend/.env

# Build
dist/
frontend/dist/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Archivos subidos localmente
uploads/

# Certificados locales HTTPS
certs/